@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 240, 82%, 70%;
  --radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.mainContent {
  background-image: linear-gradient(to right, #ffffff00 0% 20%, #000000b8 20% 100%);
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 15% 1fr;
  grid-template-areas: "header header"
  "sidebar content";
  background-repeat: no-repeat;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}
