@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 240, 82%, 70%;
  --radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
h1 {
  line-height: normal;
}
.mainContent {
  background: #000000b8;
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 20% 1fr; */
  grid-template-areas: "sidebar" "content";
  background-repeat: no-repeat;
}
.header {
  grid-area: header;
  /* grid-template-columns: 12% 1fr; */
}
.sidebar {
  grid-area: sidebar;
}
.mainSection {
  grid-area: content;
  /* grid-template-columns: 12% 1fr; */
}
@media (min-width: 1536px) {
  .mainContent {
    background: none;
    background-image: linear-gradient(to right, #ffffffd6 0% 20%, #000000b8 20% 100%);
    grid-template-columns: 20% 1fr;
    grid-template-areas: "sidebar content" "sidebar content";
  }
}
