@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 5px;

  /* Light theme variables */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 240 82% 70%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 84% 4.9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 240 82% 70%;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 216 12.2% 83.92%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 240 82% 70%;
  --primary-foreground: 222.2 84% 4.9%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 240 82% 70%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

h1 {
  line-height: normal;
}

.mosaic {
  background-image: linear-gradient(360deg, hsl(var(--background)), hsl(var(--background)/0.75)), url(/mosaic.webp);
  background-attachment: fixed;
}

.mainContent {
  background: rgba(0, 0, 0, 0.72);
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 20% 1fr; */
  grid-template-areas: "sidebar" "content";
  background-repeat: no-repeat;
}

/* .dark .mainContent {
  background: rgba(0, 0, 0, 0.72);
} */

.header {
  grid-area: header;
  /* grid-template-columns: 12% 1fr; */
}

.sidebar {
  grid-area: sidebar;
}

.mainSection {
  grid-area: content;
  /* grid-template-columns: 12% 1fr; */
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: hsl(var(--foreground));
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 1536px) {
  .mainContent {
    background: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.84) 0% 20%, rgba(0, 0, 0, 0.72) 20% 100%);
    grid-template-columns: 20% 1fr;
    grid-template-areas: "sidebar content" "sidebar content";
  }

  .dark .mainContent {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0% 20%, rgba(0, 0, 0, 0.72) 20% 100%);
  }
}